@{
    ViewData["Title"] = "Dashboard";
}

<h2>Welcome to the Dashboard</h2>
<p>This is your main page after login.</p>
<body>
    <table>
        <tr>
            <th>S.NO</th>
            <th>Name of the book</th>
            <th>Author of book</th>
            <th>Total copies</th>
            <th>Price of each</th>
        </tr>
        <tr>
            <td>1</td>
            <td>The Art of Computer Programming</td>
            <td>Donald E. Knuth</td>
            <td>15</td>
            <td>1200/-</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Computer Networking</td>
            <td>James F. Kurose</td>
            <td>10</td>
            <td>800/-</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Artificial Intelligence</td>
            <td>Stuart Russell</td>
            <td>50</td>
            <td>1500/-</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Introduction to Algorithms</td>
            <td>Thomas H. Cormen</td>
            <td>13</td>
            <td>1350/-</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Clean Code</td>
            <td>Robert C. Martin</td>
            <td>14</td>
            <td>1600/-</td>
        </tr>
    </table>
</body>




