@model LibraryManagementSystem.Models.LoginViewModel

@if (TempData["LoginError"] != null)
{
    <div style="color: red; font-weight: bold;">
        @TempData["LoginError"]
    </div>
}




<h2>Login</h2>

<form method="post" action="/Account/Login">
    <div>
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" required />
    </div>
    <div>
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" required />
    </div>
    <button type="submit">Login</button>
</form>


